<div style="padding:10px">
    <ul class="list-group">
        <% @stats.each do |stat| %> 
            <li class="list-group-item d-flex justify-content-between align-items-center" width:'500px'> 
                <%= User.find(stat[0]).username%> 
                <% if stat[1] == 'waiting' %>
                    <div class = "d-flex flex-row-reverse align-items-center">
                    <span class="badge badge-primary badge-pill mr-2"> Waiting </span>
                    <%= link_to 'Kick', game_kick_player_path(user_id:stat[0]), class: "badge badge-danger badge-pill mr-2", remote: true, data: {confirm: "Are you sure you want to kick the player off the game?", disable_with: "..." } %>
                    </div>
                <%end%>
                <% if stat[1] == 'inactive' %>
                    <span class="badge badge-secondary badge-pill"> Inactive </span>
                <%end%>
            </li>
        <% end %>
    </ul>
</div>

<% if !@stats.has_value? 'waiting' %>
    <div style= 'padding:10px;'>
        <%= form_with(url: @path, method: "post", local: true) do %>
            <%= submit_tag("Next", class: "btn btn-secondary", style: "width: 180px;")%>
        <% end %>
    </div>
<% end %>